<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Contact-Form</title>
</head>
<body>
    <div class="container">
        <h1 id="title"><%=title%></h1>
        <div>
            <form action="/contact-form" method="post">
                <input type="text" name="name" placeholder="Name" required>
                <input type="text" name="contact" placeholder="phone" required> 
                <button type="submit" id="submit-button" class="button">Create Contact</button>
            </form>
        </div>
        
        <div class="contact-details">
            <ul class="contact-list">
                <% contactData.forEach(data => { %>
                  <li class="contact-element">
                    <p id="cname"><%= data.name %> </p>    
                    <p id="cphone"><%= data.contact %></p>
                    <a href="/delete-contact/?id=<%=data._id%>" id="del-button" class="button">X</a>
                </li>              
                <% }); %>
              </ul>
        </div>
    </div>
</body>
</html>